@import "tailwindcss";




@theme{
/* colors */

--color-primary: #9013fe;
--color-redOne: #ef4444;
--color-grayOne: #6b7280;


/* breakpoints */
--breakpoint-xxs: 330px;
  --breakpoint-xs: 370px;
  --breakpoint-sm: 400px;
  --breakpoint-mdsm: 500px;
  --breakpoint-md: 640px;
  --breakpoint-mdlg: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;

}

.el{
    background-color: #6b7280
}




/* Spinner Class */
.spinner {
    width: 25px;
    height: 25px;
    border: 2px solid #FFF;
  
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
